body {
Margin: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-stretch: condensed;

}
.imagenlogo {
    height: 100px;
    width: 100px;
    padding:  4px 4px;
}

.fuentepiedepagina {
    text-align: center;
    font-size: 14px;
    color:beige;
    display: inline;

}

footer {
    text-decoration: none;
    background-color: black;
    box-shadow: 0px- 4px 15px burlywood;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;

}
div {

    margin-left: 0;
    padding: 40px 36px;
    height: 800;
    font-size: 15px;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:bisque;
    font-stretch: normal;
    box-shadow: 0px 7px 15px burlywood;
    position: fixed;
    top: 0;
    width: 100%;
}
li {

    float: left;
    border-right: 1px solid rgb(95, 89, 172);
}
 li a{
     display: block;
     color:rgb(223, 226, 226);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li.a.Active {
    background-color: rgb(119, 184, 240);
    color:black;
    font-weight: bold;
 }
  li a:hover:not(.active) {
    background-color: rgb(100, 165, 223);
    color: rgb(83, 158, 223);
    text-decoration: underline;
  }